.header {
  background-color: #2680ff;
  color: #ffffff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
}
